.bouton-evenement {
    margin: 0px;
    font-family: "Switzer-Medium";
    font-size: 20px;
    margin-top: 100px;
    align-items: flex-end;
}

.flex {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    }
}

.home-page {
    padding: 0px;
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.home-page > div {
    flex-basis: 50%;
}

.home-page img {
    width: 100%;
    min-width: 250px;
}

@media screen and (max-width: 960px) {
    .home-page {
        flex-direction: column;
    }
}

.home-page H1{
    font-family: "Switzer-Black";
    margin: 0;
    margin-bottom: 20px;
    margin-right: 70px;
    padding: 0;
}

.home-page H3{
    font-family: "Switzer-Regular";
    margin: 10px 0;
    margin-right: 70px;
    padding: 0;
}

.home-page a {
    font-family: "Switzer-Regular";
    margin: 0;
    margin-right: 50px;
    margin-top: 100px;
    padding: 0;
    color: black;
}

.principal-title{
    font-family: "Switzer-Black";
    font-weight: 900;
    font-size: 64px;
    margin-bottom: 30px;
}

h3{
    font-size: 20px;
    font-weight: 400;
    font-family: "Switzer-black";
}

.discover-link{
    display: block;
    margin-top: 100px;
    text-align: right;
    font-weight: 800;
    margin-left: 70px;
    font-size: 20px;
}


h2{
    margin-top: 100px;
    font-size: 30px;
    margin-left: 0px;
    padding-left: 00px;
    margin-bottom: 0px;
    font-family: "Switzer-black";
}

.titre-expo {
    padding-left: 0px;
}

h4{
    font-size: 40px;
    font-weight: 900;
    font-family: "Switzer-black";
    margin-left: 50px;
}
.button{
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

p {
    font-family:"Switzer-Regular" ;
}

.news{
    display:flex;
    align-items: flex-end;
}

.pictures-news{
    display: flex;
    justify-content: space-around;
    padding: 0px;
    flex-grow: 1;
    gap: 40px;
} 

.pictures-news > div {
    width: calc(100% / 3);
}

.pictures-news img {
    width: 100%;
}

h5{
    font-weight: bold;
    font-size: 20px;
    font-family:"Switzer-Semibold";
}

.evenement-du-moment {
    display: flex;
    margin: 0px;
    justify-content: space-between;
}

.contenu-evenement {
    padding: 0px;
    margin-bottom: 100px;
}

.coeur-de-page {
    flex-wrap: wrap;
}

h1 {
    font-size: 40px;
    font-family: "Switzer-Black";
    margin-top: 100px;
    margin-left: 0px;
}
@media (max-width: 375) {
    .container-3 {
        margin: 8px;
        display: flex;
        flex-direction: column;
    }
}



