.title-line {
    text-align: end;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .title-line .line {
    height: 3px;
    background: black;
    width: 100%;
    display: block;
  }



    .argo {
        display: flex;
        justify-content: space-around;
  }

 
  .helene{
    display: flex;
    justify-content: space-around;
    padding: 0px;
    padding-right: 150px;
}
  .lito {
  display: flex;
  justify-content: space-around;
}

  section {
    padding: 0px 50px;
  }

  h1{
    font-weight: bold;
  }

  h1, h2 {
    font-family: "Switzer-bold";
  }

  .button-group {
    display: flex;          /* Utilise flexbox pour organiser les boutons */
    justify-content: flex-end; /* Aligne les boutons à droite */
    padding: 10px;          /* Optionnel : ajoute un peu d'espace autour */
    cursor: pointer;          /* Change le curseur en "main" au survol */
    transition: 0.3s;         /* Animation pour les interactions */
}


button .button-group, .clique-pour-decouvrir {
    margin: 5px;            /* Optionnel : ajoute un peu d'espace entre les boutons */
    padding: 10px 15px;     /* Ajuste l'intérieur des boutons */
    border: 1px solid black; /* Optionnel : style des boutons */
    background-color: #f0f0f0; /* Optionnel : couleur de fond des boutons */
}

.button-group {
    font-size: 16px;          /* Taille du texte */
    padding: 10px 20px;       /* Espace intérieur (haut/bas, gauche/droite) */
    cursor: pointer;          /* Change le curseur en "main" au survol */
    transition: 0.3s;         /* Animation pour les interactions */
}