
.container {
    margin: 0 auto;
    max-width: 1280px;
}

.container-2 {
    display: flex;
    flex-direction: column;
}

.container-3 {
    margin: 8px;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
}

@media screen and (max-width: 960px) {
    .hidden-mobile {
        display: none;
    }   
}